
<h1>Apna Clinic </h1>
 <form id="searchbox" action="">
 	<div class="control-group">
             <input type="text", class ='form-conrol input-lg', type="text" placeholder="search ">
            
               <button class= 'btn btn-warning ' type="submit" value="Search"><span class="glyphicon glyphicon-search"></span>Search</button>
           </div>
        </form>
               